body{
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    background-image:url(https://static.pexels.com/photos/248515/pexels-photo-248515.png);
    background-size: cover;
    color: white;
    padding: 60px 10%;
}

.container{
    max-width: 600px;
    margin: auto;
}

.title{
    font-size: 40px;
}

.btn{
    background-color: gray;
    color: white;
    text-decoration: none;
    padding: 10px 40px;
}
.btn:hover{
    background-color: white;
    color: black;
}

.web{
    background-color: rgb(176, 175, 175);
    top: 0;
}

